.item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: grid;
  grid-template-columns: 10vmax 1fr 10vmax 8vmax 5vmax;
  align-items: center;
  justify-items: center;
	width: 100%;
	border-top: 1px solid #f6f6f6;
	padding-top: 2vmin;
	margin-top: 2vmin;;
}

.img {
  width: 100%;
  height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  justify-content: center;
}

.img img {
	width: 6vmax;
}

.info {
  width: 100%;
  height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  text-align: center;
  padding-right: 1vmax;
}

.info h3 {
	font-weight: bold;
	font-size: 4vmin;
	line-height: 3vmin;
	letter-spacing: 0.01em;
	color: wheat
}

.info p {
	font-size: 3vmin;
	color: wheat
}

.count {
  width: 100%;
  height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.count b {
	font-size: 5vmin;
	color: wheat
}

.price {
  width: 100%;
  height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.price b {
	font-weight: bold;
	font-size: 4vmin;
	letter-spacing: 0.01em;
	color: wheat
}

.button {
  width: 6vmin;
  height: 6vmin;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #fc4a1a, #f7b733);
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
	transform: scale(1.1);
	filter: drop-shadow(0.5vmin 0.5vmin black);
}

.inner {
transform: scale(0.4);
}

.button:active { 
  transform: scale(0.95)
}

.button:disabled {
  background: linear-gradient(45deg, #1F1C2C, #928DAB)
}

.button:disabled:hover {
	transform: none;
	filter: none;
}

.remove {
  width: 100%;
  height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.remove button {
	background: linear-gradient(45deg, #EB3349, #F45C43);
}

.remove img {
  transform: scale(2.25)
  translateY(0.075vmin);
}
