.container {
  display: grid;
  grid-template-rows: 7vmin 5vmin 1fr;
}

.filters {
  display: grid;
  grid-template-columns: 4fr 1fr;
	justify-items: center;
}

.title { 
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}