@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
	list-style: none;
	font-family: 'Kalam', cursive
}

body {
	background: url('https://www.teahub.io/photos/full/14-148286_world-of-warcraft.jpg') fixed;
	background-size: cover;
	overflow-y: scroll;
}

.wrapper {
	width: 90%;
	height: 90%;
	margin: 1% auto;
	display: flex;
	flex-direction: column;
}

body::-webkit-scrollbar { width: 0; }

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}